div.parkContainer {

    display: flex;
    width: 100%;
}

div.side {

    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border: 2px solid transparent;
    border-radius: 25px 0px 25px 0px;
    text-align: center;
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(165deg, rgba(121,9,9,1) 0%, rgba(255,120,120,1) 100%) border-box;
    box-shadow: 1px 0px 8px 2px lightgray;
    margin: 5rem;
    margin-left: 3rem;
    margin-right: 0rem;
}

div.main {

    margin: 5rem;
}

div.allRankContents {

    width: fit-content;
    height: fit-content;
}
